!!!
- links = { 'Home' => '/', 'Blog' => '/blog' }
%html{ lang: 'en' }
  %head
    %meta{ 'http-equiv' => "Content-Type", content: "text/html; charset=UTF-8" }
    %meta{ charset: "utf-8" }

    %title agugar portfolio

    %meta{ name:"viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name:"description", content: "Agugar personal website" }
    %meta{ name:"author", content: "agugar" }

    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"

    =# stylesheet_link_tag 'application.css'
    = stylesheet_link_tag 'css/bootstrap.min.css'
    = stylesheet_link_tag 'css/landing-page.css'

    = stylesheet_link_tag 'font-awesome/css/font-awesome.min.css'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic'

  %body
    %nav.navbar.navbar-default.navbar-fixed-top.topnav{ role: "navigation"}
      .container.topnav
        .navbar-header
          %button.navbar-toggle{ type: "button", 'data-toggle' => "collapse", 'data-target' => "#bs-example-navbar-collapse-1" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          = link_to 'agugar', '#', class: 'navbar-brand topnav'

        .collapse.navbar-collapse.bs-example-navbar-collapse-1
          %ul.nav.navbar-nav.navbar-right
            - links.each do | title, path |
              %li{ class: "#{'inactive' if current_page.url == (path + '/').gsub('//', '/') }" }
                = link_to title, path

    .content
      = yield

%a{name: "contact"}
.banner
  .container
    .row
      .col-lg-4
        %h2 Contact

      .col-lg-8
        %ul.list-inline.banner-social-buttons
          %li
            = link_to "https://twitter.com/3agugar", class: 'btn btn-default btn-lg' do
              %i.fa.fa-twitter.fa-fw
              %span.network-name Twitter
            %li
              = link_to "https://github.com/fjagugar", class: 'btn btn-default btn-lg' do
                %i.fa.fa-github.fa-fw
                %span.network-name Github
            %li
              = link_to "https://www.linkedin.com/in/javier-aguadero", class: 'btn btn-default btn-lg' do
                %i.fa.fa-linkedin.fa-fw
                %span.network-name Linkedin
            %li
              = link_to "mailto:fjagugar@gmail.com", class: 'btn btn-default btn-lg' do
                %i.fa.fa-envelope.fa-fw
                %span.network-name E-Mail
%footer
  .container
    .row
      .col-lg-12
        %ul.list-inline
          - links.each.with_index do | (title, path), index |
            %li
              = link_to title, path
            - unless index == (links.length - 1)
              %li.footer-menu-divider &sdot;

        %p.copyright.text-muted.small
          Copyright &copy; Javier Aguadero #{ Time.now.year }. All Rights Reserved.
          Bootstrap theme by #{ link_to 'Start Booptstrap', 'https://startbootstrap.com/template-overviews/landing-page/'}.
          Extra images from #{ link_to 'Death to Stock Photo', 'http://join.deathtothestockphoto.com/' }.

= javascript_include_tag 'js/jquery.js'
= javascript_include_tag 'js/bootstrap.min.js'
