---
pageable: true
per_page: 10
---

.container
  .row
    %h1 agugar's Blog

    - if paginate && num_pages > 1
      %p
        Page #{page_number} of #{num_pages}

      - if prev_page
        %p
          = link_to 'Previous page', prev_page

    - page_articles.each_with_index do |article, i|
      %div{class: "content-section-#{ i.odd? ? 'a' : 'b'}"}
        .col-lg-5.col-sm-6
        .clearfix
        %h2.section-heading
          = link_to article.title, article
          %span
            = article.date.strftime('%b %e')
        %p.lead
          = article.summary(250)

    - if paginate
      - if next_page
        %p
          = link_to 'Next page', next_page
