%a{name: "about"}
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Javier Aguadero
          %h3 agugar
          %br
          %h5 Porfolio
          %hr.intro-divider
          %ul.list-inline.intro-social-buttons
            %li
              = link_to "https://twitter.com/3agugar", class: 'btn btn-default btn-lg' do
                %i.fa.fa-twitter.fa-fw
                %span.network-name Twitter
            %li
              = link_to "https://github.com/fjagugar", class: 'btn btn-default btn-lg' do
                %i.fa.fa-github.fa-fw
                %span.network-name Github
            %li
              = link_to "https://www.linkedin.com/in/javier-aguadero", class: 'btn btn-default btn-lg' do
                %i.fa.fa-linkedin.fa-fw
                %span.network-name Linkedin
            %li
              = link_to "mailto:fjagugar@gmail.com", class: 'btn btn-default btn-lg' do
                %i.fa.fa-envelope.fa-fw
                %span.network-name E-Mail

%a{name: "latests-posts"}
.container
  .row
    %h1 Latests posts
    - page_articles.each_with_index do |article, i|
      %div{class: "content-section-#{ i.odd? ? 'a' : 'b'}"}
        .col-lg-5.col-sm-6
        .clearfix
        %h2.section-heading
          = link_to article.title, article
          %span
            = article.date.strftime('%b %e')
        %p.lead
          = article.summary(250)
